<p id="notice"><%= notice %></p>

<h1>Item</h1>

<p>
  <b>Fabricante:</b>
  <%= @item.produto.fabricante %>
</p>

<p>
  <b>Produto:</b>
  <%= @item.produto.nome %>
</p>

<p>
  <b>Preco:</b>
  <%= @item.preco %>
</p>

<p>
  <b>Observacao:</b>
  <%= @item.observacao %>
</p>

<%= link_to 'Editar', edit_pedido_item_path(@item) %> |
<%= link_to 'Voltar', pedido_itens_path %>
