<h2>Cliente</h2>

<p>
  <b>Nome:</b>
  <%= cliente.nome %>
</p>

<p>
  <b>Razao Social:</b>
  <%= cliente.razao_social %>
</p>

<p>
  <b>CNPJ:</b>
  <%= cliente.cnpj %>
</p>

<p>
  <b>Inscricao Estadual:</b>
  <%= cliente.ie %>
</p>

<p>
  <b>Endereco:</b>
  <%= cliente.endereco %>
</p>

<p>
  <b>Telefone:</b>
  <%= cliente.telefone %>
</p>

<p>
  <b>Email:</b>
  <%= cliente.email %>
</p>

<p>
  <b>Website:</b>
  <%= cliente.website %>
</p>
