<%= form_for(@pedido) do |f| %>
  <% if @pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pedido.errors.count, "erro") %>:</h2>

      <ul>
      <% @pedido.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cliente_id %><br />
    <%= f.select :cliente_id, Cliente.all.collect { |c| [c.nome, c.id] }, { :include_blank => true } %>
  </div>
  <div class="field">
    <%= f.label :numero %><br />
    <%= f.text_field :numero %>
  </div>
  <div class="field">
    <%= f.label :previsao_entrega %><br />
    <%= f.date_select :previsao_entrega %>
  </div>
  <div class="field">
    <%= f.label :observacao %><br />
    <%= f.text_area :observacao, :rows => 3 %>
  </div>
  <div class="field">
    <h2>Itens</h2>
    <table>
      <tr>
        <th>Produto</th>
        <th>Preco (R$)</th>
        <th>Observacao</th>
        <th class="action"></th>
      </tr>
      <%= f.fields_for :itens do |builder| %>
        <%= render 'item_fields', :f => builder %>
      <% end %>
      <tr colspan="4">
        <td><%= link_to_add_association "Novo item", f, :itens %></td>
      </tr>
    </table>
  </div>
  <div class="field">
    <h2>Pagamentos</h2>
    <table>
      <tr>
        <th>Meio</th>
        <th>Data Prevista</th>
        <th>Evento</th>
        <th>Valor (R$)</th>
        <th class="action"></th>
      </tr>
      <%= f.fields_for :pagamentos do |builder| %>
        <%= render 'pagamento_fields', :f => builder %>
      <% end %>
      <tr colspan="5">
        <td><%= link_to_add_association "Novo pagamento", f, :pagamentos %></td>
      </tr>
    </table>
  </div>
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
