<%= form_for(@pedido) do |f| %>
  <% if @pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pedido.errors.count, "erro") %>:</h2>

      <ul>
      <% @pedido.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cliente_id %><br />
    <%= f.select :cliente_id, Cliente.all.collect { |c| [c.nome, c.id] }, { :include_blank => true } %>
  </div>
  <div class="field">
    <%= f.label :numero %><br />
    <%= f.text_field :numero %>
  </div>
  <div class="field">
    <%= f.label :previsao_entrega %><br />
    <%= f.date_select :previsao_entrega %>
  </div>
  <div class="field">
    <%= f.label :observacao %><br />
    <%= f.text_area :observacao %>
  </div>
  <div>
    <h2>Itens</h2>
    <table>
      <tr>
        <th>Fabricante</th>
        <th>Produto</th>
        <th>Preco</th>
        <th>Observacao</th>
        <th></th>
      </tr>
    <% @pedido.itens.each do |item| %>
      <%= f.fields_for :itens, item do |item_fields| %>
      <tr>
        <td><%= item.produto.fabricante %></td>
        <td><%= item.produto.nome %></td>
        <td><%= item_fields.text_field :preco %></td>
        <td><%= item_fields.text_field :observacao %></td>
        <td>Remover</td>
      </tr>
      <% end %>
    <% end %>
    </table>
  </div>
  <div>
    <h2>Pagamentos</h2>
    <table>
      <tr>
        <th>Meio</th>
        <th>Data Prevista</th>
        <th>Evento</th>
        <th>Valor (R$)</th>
        <th></th>
      </tr>
      <%= f.fields_for :pagamentos do |pagamento_fields| %>
        <tr>
          <td><%= pagamento_fields.text_field :meio %></td>
          <td><%= pagamento_fields.date_select :data_prevista %></td>
          <td><%= pagamento_fields.text_field :evento %></td>
          <td><%= pagamento_fields.text_field :valor %></td>
          <td>Remover</td>
        </tr>
      <% end %>
    </table>
  </div>
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
