<tr class="association">
  <td><%= f.select :produto_id, Produto.all.collect { |p| [p.fabricante + ' - ' + p.nome, p.id] },
      { :include_blank => true } %></td>
  <td><%= f.text_field :preco, :size => 6 %></td>
  <td><%= f.text_field :observacao, :size => 40 %></td>
  <td>
    <%= f.hidden_field :_destroy %>
    <%= link_to_function "Remover", "remove_association(this)" %>
  </td>
</tr>