<tr class="association">
  <td><%= f.text_field :meio, :size => 15 %></td>
  <td><%= f.date_select :data_prevista %></td>
  <td><%= f.text_field :evento, :size => 15 %></td>
  <td><%= f.text_field :valor, :size => 6 %></td>
  <td>
    <%= f.hidden_field :_destroy %>
    <%= link_to_function "Remover", "remove_association(this)" %>
  </td>
</tr>