<p id="notice"><%= notice %></p>

<h1>Pedido</h1>

<p>
  <b>Numero:</b>
  <%= @pedido.numero %>
</p>

<p>
  <b>Previsao de Entrega:</b>
  <%= @pedido.previsao_entrega %>
</p>

<p>
  <b>Valor:</b>
  <%= @pedido.valor %>
</p>

<p>
  <b>Observacao:</b>
  <%= @pedido.observacao %>
</p>

<p>
  <%= render :partial => "cliente", :locals => { :cliente => @pedido.cliente } %>
</p>

<p>
  <%= render :partial => "itens", :locals => { :itens => @pedido.itens } %>
</p>

<p>
 <%= render :partial => "pagamentos", :locals => { :pagamentos => @pedido.pagamentos } %>
</p>

<%= link_to 'Editar', edit_pedido_path(@pedido) %> |
<%= link_to 'Voltar', pedidos_path %>
