<p id="notice"><%= notice %></p>

<h1>Pedido</h1>

<p>
  <b>Numero:</b>
  <%= @pedido.numero %>
</p>

<p>
  <b>Vendedor:</b>
  <%= @pedido.vendedor %>
</p>

<p>
  <b>Previsao de Entrega:</b>
  <%= @pedido.previsao_entrega %>
</p>

<p>
  <b>Valor:</b>
  <%= @pedido.valor %>
</p>

<p>
  <b>Observacao:</b>
  <%= @pedido.observacao %>
</p>

<h2>Cliente</h2>

<p>
  <b>Nome:</b>
  <%= @pedido.cliente.nome %>
</p>

<p>
  <b>Razao Social:</b>
  <%= @pedido.cliente.razao_social %>
</p>

<p>
  <b>CNPJ:</b>
  <%= @pedido.cliente.cnpj %>
</p>

<p>
  <b>Inscricao Estadual:</b>
  <%= @pedido.cliente.ie %>
</p>

<p>
  <b>Endereco:</b>
  <%= @pedido.cliente.endereco %>
</p>

<p>
  <b>Telefone:</b>
  <%= @pedido.cliente.telefone %>
</p>

<p>
  <b>Email:</b>
  <%= @pedido.cliente.email %>
</p>

<p>
  <b>Website:</b>
  <%= @pedido.cliente.website %>
</p>

<h2>Itens</h2>

<p>
  <table>
    <tr>
      <th>Fabricante</th>
      <th>Produto</th>
      <th>Preco</th>
      <th>Observacao</th>
    </tr>
    <% @pedido.itens.each do |item| %>
    <tr>
      <td><%= item.produto.fabricante %></td>
      <td><%= item.produto.nome %></td>
      <td><%= item.preco %></td>
      <td><%= item.observacao %></td>
    </tr>
    <% end %>
  </table>
</p>

<h2>Pagamentos</h2>

<p>
  <table>
    <tr>
      <th>Meio</th>
      <th>Data Prevista</th>
      <th>Evento</th>
      <th>Valor (R$)</th>
    </tr>
    <% @pedido.pagamentos.each do |pagamento| %>
    <tr>
      <td><%= pagamento.meio %></td>
      <td><%= pagamento.data_prevista %></td>
      <td><%= pagamento.evento %></td>
      <td><%= pagamento.valor %></td>
    </tr>
    <% end %>
  </table>
</p>

<%= link_to 'Editar', edit_pedido_path(@pedido) %> |
<%= link_to 'Imprimir', print_pedido_path(@pedido) %> |
<%= link_to 'Voltar', pedidos_path %>
