<p id="notice"><%= notice %></p>

<h1>Produto</h1>

<p>
  <b>Fabricante:</b>
  <%= @produto.fabricante %>
</p>

<p>
  <b>Nome:</b>
  <%= @produto.nome %>
</p>

<%= link_to 'Editar', edit_produto_path(@produto) %> |
<%= link_to 'Voltar', produtos_path %>
