<!DOCTYPE html>
<html>
<head>
  <title>Orders</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p>
  <div class="header">
    <%= "Ola, #{current_user.email}!" unless not user_signed_in? %>
    <%= link_to('[Sair]', destroy_user_session_path, :method => :delete) if user_signed_in? %>
  </div>
  <div class="menu">
    <%= link_to 'Produtos', produtos_path %> |
    <%= link_to 'Pedidos', pedidos_path %>
  </div>
</p>
<p>
  <div class="content">
    <%= yield %>
  </div>
</p>
</body>
</html>
