<!DOCTYPE html>
<html>
<head>
  <title>Orders</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p>
  <div class="menu">
    <%= link_to 'Produtos', produtos_path %> |
    <%= link_to 'Pedidos', pedidos_path %>
  </div>
</p>
<p>
  <div class="content">
   <%= yield %>
  </div>
</p>
</body>
</html>
